html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}

html>body #wrap {
	height: 100%;
}

html>body div.summary_box {
	position: fixed;
}

.job-exclusive {
	background-color:Lime;
}

.partfull {
	background-color:#C3FDB8;
}

.jobdata {
	font-size:0.7em;
	font-family:monospace;
	padding:0px;
}

.down {
	background-color:red;
}

.offline {
	background-color:gray;
}


table.key_table, table.key_table td {
	font-size:0.7em;
	border:1px solid #aaaaaa;
	border-collapse:collapse;
	margin-top:20px;
}

form.showdetails {
	margin-top:20px;
}

form {
	padding:0px;
	margin-bottom:0px;
}

table.queue_summary {
	font-size:0.7em;
}

table.node_summary {
	font-size:0.7em;
}

table.user_summary {
	font-size:0.7em;
}
   
div.summary_box {
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: auto;
	background-color: white;
	z-index: 2;
	width: 100%;
	margin: 5px;
	padding-bottom: 0px;
}

div.detail_box {
	z-index: 1;
	clear: both;
	position: relative;
	padding-top: 250px; /* This is to avoid the overlap of div.summary_box and div.detail_box. Need to be tweaked!*/
	padding-bottom: 10px;
}

table.summary_box_table {
	vertical-align:top;
	border-spacing:1em 0px;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	width:100%;
}
table.node_grid {
	margin: auto;
}

table.node_grid td {
	border: 1px solid #aaaaaa;
	padding: 2px 15px 2px 15px;
}

table.joblist {
	margin: auto;
}

.summary_box_entry {
	vertical-align: top;
}

caption {
	font-weight: bold;
}

.medium {
	font-size: 0.8em;
}

